wheel>=0.23.0
six==1.11.0
numexpr==2.6.4
psutil==5.4.3
mock==2.0.0
rabbitpy==1.0.0
multihist==0.5.4
pytz==2018.3
msgpack-python==0.5.6

numpy==1.11.3  # pyup: ignore
pymongo==3.6.1  # pyup: ignore
matplotlib==2.0.0  # pyup: ignore
scipy==0.18.1  # pyup: ignore
tqdm==4.20.0  # pyup: ignore
prettytable==0.7.2  # pyup: ignore
pandas==0.19.2  # pyup: ignore
flake8==3.5.0  # pyup: ignore
python-snappy==0.5  # pyup: ignore
numba==0.35.0  # pyup: ignore
scikit-learn==0.18.1  # pyup: ignore
h5py==2.6.0  # pyup: ignore
